   <!-- Shakes Section -->
   <div id="shakes" class="menu-section active">
    <div class="menu-item">
        <img src="/Images/coldCoffe.jpg" alt="Cold Coffee" class="item-image">
            <div class="item-details">
                <div class="item-name">Cold Coffee</div>
                <div class="item-description">Cold coffee with crushed ice</div>
                <span style="display: flex;">₹ <div class="item-price"> 49.00</div></span>
            </div>
            <button class="add-btn">ADD</button>
        </div>
        
        <div class="menu-item">
            <img src="/Images/strawberry.jpg" alt="Strawberry Shake" class="item-image">
            <div class="item-details">
                <div class="item-name">Strawberry Shake</div>
                <div class="item-description">Sweet, creamy, fruity bliss</div>
                <span style="display: flex;">₹ <div class="item-price"> 49.00</div></span>
            </div>
            <button class="add-btn">ADD</button>
        </div>

    <div class="menu-item">
        <img src="/Images/mango.jpg" alt="Mango Shake" class="item-image">
        <div class="item-details">
            <div class="item-name">Mango Shake</div>
            <div class="item-description">Thick, tropical, mango delight</div>
            <span style="display: flex;">₹ <div class="item-price"> 49.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>
    
    <div class="menu-item">
        <img src="/Images/kitkat.jpg" alt="Kit-kat Shake" class="item-image">
        <div class="item-details">
            <div class="item-name">Kit-kat Shake</div>
            <div class="item-description">With chocolate, icecream and Kit-kat</div>
            <span style="display: flex;">₹ <div class="item-price"> 59.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>

    <div class="menu-item">
        <img src="/Images/oreo.jpg" alt="Oreo Shake" class="item-image">
        <div class="item-details">
            <div class="item-name">Oreo Shake</div>
            <div class="item-description">Creamy, chocolaty, cookie indulgence</div>
            <span style="display: flex;">₹ <div class="item-price"> 59.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>
</div>

<!-- Sandwich -->
<div id="sandwich" class="menu-section">
    <div class="menu-item">
        <img src="/Images/cheeseSandwich.jpg" alt="chesse Sandwich" class="item-image">
        <div class="item-details">
            <div class="item-name">Chesse Sandwich</div>
            <div class="item-description">Toasty, creamy, melted cheese</div>
            <span style="display: flex;">₹ <div class="item-price"> 49.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>
    
    <div class="menu-item">
        <img src="/Images/paneerSandwich.jpg" alt="Paneer Sandwich" class="item-image">
        <div class="item-details">
            <div class="item-name">Paneer Sandwich</div>
            <div class="item-description">Grilled, cheesy, flavorful paneer</div>
            <span style="display: flex;">₹ <div class="item-price"> 59.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>

    <div class="menu-item">
        <img src="/Images/paneerMakhani.jpg" alt="Paneer Makhani" class="item-image">
        <div class="item-details">
            <div class="item-name">Paneer Makhani</div>
            <div class="item-description">Creamy, buttery, spiced paneer</div>
            <span style="display: flex;">₹ <div class="item-price"> 59.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>
    
    <div class="menu-item">
        <img src="/Images/mexicanSandwich.jpg" alt="Mexican Sandwich" class="item-image">
        <div class="item-details">
            <div class="item-name">Mexican Sandwich</div>
            <div class="item-description">Spicy, zesty, veggie-filled delight</div>
            <span style="display: flex;">₹ <div class="item-price"> 59.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>

    <div class="menu-item">
        <img src="/Images/tandooriPaneer.jfif" alt="Tandoori Paneer " class="item-image">
        <div class="item-details">
            <div class="item-name">Tandoori Paneer</div>
            <div class="item-description">Smoky, marinated, grilled paneer</div>
            <span style="display: flex;">₹ <div class="item-price"> 59.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>
</div>

<!-- Mocktails -->
<div id="mocktails" class="menu-section">
    <div class="menu-item">
        <img src="/Images/mojito.jpg" alt="Mojito" class="item-image">
        <div class="item-details">
            <div class="item-name">Mojito</div>
            <div class="item-description">Refreshing, minty, citrusy drink</div>
            <span style="display: flex;">₹ <div class="item-price"> 79.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>
    
    <div class="menu-item">
        <img src="/Images/blackberry.jpg" alt="Blackberry" class="item-image">
        <div class="item-details">
            <div class="item-name">Blackberry</div>
            <div class="item-description">Sweet, tangy, antioxidant-rich fruit</div>
            <span style="display: flex;">₹ <div class="item-price"> 79.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>

    <div class="menu-item">
        <img src="/Images/oceanBlue.jpg" alt="Ocean Blue" class="item-image">
        <div class="item-details">
            <div class="item-name">Ocean Blue</div>
            <div class="item-description">Sweet, tropical, icy beverage</div>
            <span style="display: flex;">₹ <div class="item-price"> 79.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>
    
    <div class="menu-item">
        <img src="/Images/blueLagaon.jpg" alt="Blue Lagoon" class="item-image">
        <div class="item-details">
            <div class="item-name">Blue Lagoon</div>
            <div class="item-description">Citrusy, refreshing, vibrant drink</div>
            <span style="display: flex;">₹ <div class="item-price"> 79.00</div></span>   
        </div>
        <button class="add-btn">ADD</button>
    </div>

    <div class="menu-item">
        <img src="/Images/roseMint.jpg" alt="Rose Mint" class="item-image">
        <div class="item-details">
            <div class="item-name">Rose Mint</div>
            <div class="item-description">Fragrant, cooling, floral, soothing</div>
            <span style="display: flex;">₹ <div class="item-price"> 89.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>
</div>

<!-- Pizzas -->
<div id="pizzas" class="menu-section">
    <div class="menu-item">
        <img src="/Images/onionPizza.jpg" alt="Onion Pizza" class="item-image">
        <div class="item-details">
            <div class="item-name">Onion Pizza</div>
            <div class="item-description">Savory, crunchy, flavorful topping</div>
            <span style="display: flex;">₹ <div class="item-price"> 69.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>
    
    <div class="menu-item">
        <img src="/Images/cheeseCorn.jpg" alt="Cheese Corn pizza " class="item-image">
        <div class="item-details">
            <div class="item-name">Cheese Corn Pizza</div>
            <div class="item-description">Creamy, cheesy, sweet, delicious</div>
            <span style="display: flex;">₹ <div class="item-price"> 69.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>

    <div class="menu-item">
        <img src="/Images/paneerPizza.jpg" alt="paneer pizza " class="item-image">
        <div class="item-details">
            <div class="item-name">Paneer Pizza</div>
            <div class="item-description">Spicy, tangy, creamy, vegetarian</div>
            <span style="display: flex;">₹ <div class="item-price"> 79.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>
    
    <div class="menu-item">
        <img src="/Images/mexicanPizza.jpg" alt="mexicanPizza" class="item-image">
        <div class="item-details">
            <div class="item-name">Mexican Pizza</div>
            <div class="item-description">Spicy, tangy, zesty, flavorful</div>
            <span style="display: flex;">₹ <div class="item-price"> 79.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>

    <div class="menu-item">
        <img src="/Images/specialPizza.jfif" alt="specialPizza" class="item-image">
        <div class="item-details">
            <div class="item-name">Special Pizza</div>
            <div class="item-description">Loaded, savory, assorted toppings</div>
        <span style="display: flex;">₹ <div class="item-price"> 99.00</div></span>
        </div>
        <button class="add-btn">ADD</button>
    </div>

</div>


