<div>
    <img src="/menuImage/logo.png" alt="logo" width="330px">
</div>
<!-- Category Navigation -->
<div class="categories">
    <a href="#shakes" class="category-item active">
        <img src="/menuImage/Shakes.jpg" alt="Shakes" class="category-image">
        <span class="category-name">Shakes</span>
    </a>
    <a href="#mocktails" class="category-item">
        <img src="/menuImage/mocktails.jpg" alt="Mocktails" class="category-image">
        <span class="category-name">Mocktails</span>
    </a>
    <a href="#sandwich" class="category-item">
        <img src="/menuImage/sandwich.jpg" alt="Sandwich" class="category-image">
        <span class="category-name">Sandwich</span>
    </a>
    <a href="#pizzas" class="category-item">
        <img src="/menuImage/pizza.jpg" alt="Pizzas" class="category-image">
        <span class="category-name">Pizzas</span>
    </a>
</div>